@import url("css/logo.css");
@import url("css/keyframes.css");
@import url("css/navbar.css");
@import url("css/road2code.css");
@import url("css/contact.css");
/* @import url("css/menu.css"); */

:root {
  --primary-color: #f8f8f8;
  --secondary-color: #232328;
  --scrollbar-bg: #121212;
  --thumb-bg: orangered;
  --form-valid: #b7ddb7c4;
  --form-invalid: #e7ab3cc7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: var(--secondary-color);
  overflow-x: hidden;
}

/* change scrollbar */

/* width */

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
input,
html,
body,
article,
section,
div {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1 {
  margin: 5% 0 15%;
  font-size: calc(5vmin + 3vmax);
  font-weight: 700;
  line-height: 1;
  word-spacing: 0.5rem;
}

h1:hover,
h1:active {
  -webkit-text-stroke: 1px #999;
  color: transparent;
  cursor: pointer;
}

h2 {
  font-family: "Vollkorn", sans-serif;
  font-size: calc(2.25vmin + 2.75vmax);
  color: #212121;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

h4 {
  font-family: "Vollkorn", sans-serif;
  font-size: calc(1.5vmin + 1.75vmax);
  color: transparent;
  /*  -webkit-text-stroke: 2px #212121; */
  -webkit-text-stroke: 1px #212121;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

h4:hover,
h4:focus {
  color: #212121;
}

h5 {
  font-family: "Vollkorn", sans-serif;
  font-size: calc(1.5vmin + 1.75vmax);
  color: #212121;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}
h6 {
  font-family: "Vollkorn", sans-serif;
  font-size: calc(1.5vmin + 1.75vmax);
  color: transparent;
  -webkit-text-stroke: 1px #212121;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

.inverted {
  -webkit-text-stroke: 1px var(--primary-color);
}

p {
  font-size: 1rem;
  line-height: 150%;
}

header {
  position: fixed;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: var(--primary-color);
}

#logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  /*  border-bottom: 1px solid #888; */
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}

article {
  position: relative;
  padding: 70% 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero > h5 {
  position: relative;
  animation: from_left 0.6s ease-out 1 forwards;
}
.hero > h6 {
  position: relative;
  animation: from_right 0.4s ease-out 0.5s 1 forwards;
}

.scroll_down {
  position: absolute;
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.15));
  animation: bouncy 10s ease-out 0.5s infinite forwards;
}

section {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

#about {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about > h1 {
  text-shadow: 1px 1px #888;
}

.iam {
  display: block;
  align-items: baseline;
}

.images {
  position: relative;
  width: 100%;
  width: 420px;
  min-width: 260px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
  cursor: pointer;
}

.image1 {
  position: absolute;
  display: block;
  opacity: 1;
  /*  background-image: url(/assets/images/bw_rob1.png); */
  background-position: top center;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease-in-out;
  filter: grayscale(80%);
}

@keyframes glitch {
  5% {
    visibility: visible;
    background-image: none;
  }
  10% {
    opacity: 0.2;
    background-image: url("assets/images/robdajoker.png");
    -webkit-filter: grayscale(1);
    left: -2%;
    bottom: -2%;
  }
  15.5% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.5;
    -webkit-filter: hue-rotate(60deg) invert(1) saturate(2.7);
    left: 5%;
    top: -40%;
  }
  22% {
    opacity: 0.5;
    filter: none;
    left: -0%;
    top: -30%;
  }
  24% {
    opacity: 1;
    -webkit-filter: hue-rotate(60deg) invert(1) saturate(2.7);
  }
  25.5% {
    opacity: 0.5;
    filter: invert(1);
  }
  30% {
    filter: none;
    opacity: 1;
  }
  40% {
    opacity: 0.5;
    filter: invert(1);
    top: 30%;
    left: -12%;
  }
  50% {
    background-image: none;
    filter: none;
    opacity: 1;
  }
  60% {
    background-image: url("assets/images/robdajoker.png");
    -webkit-filter: hue-rotate(30deg) invert(1) saturate(1.7);
    opacity: 0.5;
    left: 4%;
  }
  80% {
    background-image: none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  100% {
    visibility: visible;
    background-image: none;
  }
}

.image2 {
  position: absolute;
  display: block;
  opacity: 0;
  /* background-image: url(/assets/images/robdajoker.png); */
  background-position: top center;
  background-repeat: no-repeat;
  visibility: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease-in-out;
  /*  -webkit-animation: glitch 15s 1 step-end;
  animation: glitch 15s 1 step-end; */
}

.images:hover > .image1 {
  opacity: 0;
}
.images:hover > .image2 {
  position: absolute;
  opacity: 1;
  -webkit-animation: glitch 15s 1 step-end;
  animation: glitch 15s 1 step-end;
}

.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_ddd {
  display: flex;
  margin-bottom: 2rem;
}
.ddd {
  font-size: 0.8rem;
}

.desc > div > h4:hover {
  color: #888;
}

.svg_shape_1 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.svg_shape_1 > img {
  position: absolute;
  left: -20vw;
  transform: rotate(40deg);
  z-index: 1;
}
.svg_shape_2 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.svg_shape_2 > img {
  position: absolute;
  left: -40vw;
  transform: rotate(40deg);
  z-index: 1;
}
/* .desc > div:last-of-type {
  padding-right: 2rem;
} */

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
}

footer > h1 {
  margin: 0;
  padding: 0;
  font-size: 90px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(241, 241, 241);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--thumb-bg);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 51, 0);
  }
  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  h1,
  h2,
  h3,
  h5 {
    color: var(--primary-color);
  }

  h4,
  h5,
  h6 {
    -webkit-text-stroke: 1px var(--primary-color);
  }

  h4:hover,
  h4:focus {
    color: var(--primary-color);
  }

  #logo path {
    stroke: white;
  }

  header {
    background: transparent;
    pointer-events: none;
  }

  nav {
    pointer-events: visible;
  }
  main {
    width: 60%;
  }

  article {
    padding: 40% 0;
  }
  .hero {
    align-items: flex-start;
  }

  #about {
    align-items: flex-start;
  }

  #about > .images {
    align-self: center;
  }
  .desc > h6 {
    align-self: flex-start;
  }

  .scroll_down {
    bottom: 2vh;
    animation: bouncy_big_screen 10s ease-out 0.5s infinite forwards;
  }

  section > .svg_shape_2 {
    margin-left: 45%;
  }
}
